{% load crispy_forms_tags %}
{% load leaflet_tags %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
    type="text/css">

  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <title>Predimmo</title>
  <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

</head>

<body id="bodyclass" class="bodyclass">
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <div id="open_map" style="     height: 100%;
      width: 100%;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      z-index: -10;"></div>
  <div id="map" class="map"></div>
  <div id="box" class="box">
    {% crispy form form.helper %}
  </div>
  <script>
    var center = ol.proj.transform([37.41, 8.82], 'EPSG:4326', 'EPSG:3857');

    var view = new ol.View({
      center: ol.proj.fromLonLat([2.333333, 48.866667]),
      zoom: 10
    })

    var map = new ol.Map({
      target: 'map',
      layers: [new ol.layer.Tile({
        source: new ol.source.OSM()
      })],
      view: view
    });

    var geojsonObject = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "geometry": {
          "type": "Polygon",
          "coordinates": {{ coord }}
        }
      }]
    };
 
    var styles = {{ styles|safe }};

    var originalSource = new ol.source.Vector({
      features: (new ol.format.GeoJSON()).readFeatures(geojsonObject, {
        featureProjection: 'EPSG:3857'

      })
    });

    // create a layer from it so we can visualize the original data
    var originalLayer = new ol.layer.Vector({
      source: originalSource,
      style: styles
    });

    map.addLayer(originalLayer);
  </script>

</body>

</html>