  .map {
      height: 100%;
      width: 100%;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      z-index: -10;
    }
    .box {
      border-style: double;
      background-color: MintCream;
      margin-left: -10%;
      margin-top: -65%;
      position: fixed;
    }

     .bodyclass {
        height: 1%;
        width: 1%;
        margin-top: 20%;
        margin-left: 20%;
    }